<div class="main-content">
  
  <div class="row">
    <nav class="toursim-menu">
    <div class="logo">
      <span>Master Toursim</span>
    </div>
    <ul>
      <li><button mat-button >Things To Do</button></li>
      <li><button mat-button >Destination</button></li>
      <li><button mat-button >Plan Your Trip</button></li>
      <li><mat-form-field class="example-full-width"><input matInput placeholder="search" value=""> <fa name="search" class="fb" animation=""></fa></mat-form-field></li>
      <li><button mat-button>Signin</button></li>
    </ul>
  </nav>
    <div class="col-md-5 toursim" style="background-color:#c5f2fc;  height: 100vh;">
      <div class="tour-des">
      <span class="num-tour">01</span><h1>  New Zealand </h1>
      <span class="sav_span">Savereign Island Property</span>
      <p> Get ready for mammoth parks,dynamic Maori culture, and world classsurfing and skiing.Newzeland can be mellow or action-packed </p>
      <button mat-button class="explore-btn">Explore</button>
      <div class="video_icon">
      <i class="material-icons"> 
        play_circle_outline
        </i>
        Watch video   
      </div>
      <div class="social-icons">
        <ul>
         <li><a href="#"> <fa name="facebook" class="fb" animation=""></fa></a></li>
         <li> <a href="#"><fa name="google" animation=""></fa></a></li>
         <li><a href="#"> <fa name="twitter" animation=""></fa></a></li>
         <li><a href="#"> <fa name="instagram" animation=""></fa></a></li>
        </ul>
      </div>
    </div>
    </div>
    <div class="col-md-7">
      <carousel>
        <slide>
          <img src="/tourism/assets/images/banner.png" alt="first slide" style="display: block;  height:100vh;width: 100%;">
          <div class="carousel-caption d-none d-md-block">
          <!--   <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
          </div>
        </slide>
        <slide>
          <img src="/tourism/assets/images/banner.png" alt="second slide" style="display: block; height:100vh;width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <!-- <h3>Second slide label</h3> -->
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
          </div>
        </slide>
        <slide>
          <img src="/tourism/assets/images/banner.png" alt="third slide" style="display: block; height:100vh; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
          <!--   <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
          </div>
        </slide>
      </carousel>
    </div>
  </div>
</div>