
<div class="main-content">
  <div class="container menu-cls">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-light toursim-menu">
       <div class="logo">
        <span>Master <span class="toursim-txt">Toursim</span></span>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse navbar-default" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
         <li><button mat-button class="mat-menu" >Things To Do</button></li>
         <li><button mat-button   class="mat-menu">Destination</button></li>
         <li><button mat-button  class="mat-menu" >Plan Your Trip</button></li>
         <li><mat-form-field class="example-full-width"><input matInput placeholder="search" value=""> <fa name="search" class="fb" animation=""></fa></mat-form-field></li>
         <li><button mat-button  class="mat-menu"> Sign in/Signup</button></li>
       </ul>
     </div>
   </nav>

 </div>
</div>
<div class=".container-fluid">
  <div class="row page-view">
    <div class="col-md-5 col-sm-12 col-xs-12 toursim" style="background-color:#c5f2fc; height: 100vh; ">
      <div class="outer-tourism">
        <div class="inner-tourism">
          <div class="tour-des">
            <span class="num-tour">01</span><h1>New Zealand </h1>
            <span class="sav_span">Savereign Island Property</span>
            <p> Get ready for mammoth parks,dynamic Maori culture, and world classsurfing and skiing.Newzeland can be mellow or action-packed </p>
            <div class="explore">
              <button mat-button class="explore-btn">Explore</button>
            </div>
            <div class="video_icon">
              <span><i class="fa fa-caret-right play-icon"></i><span class="video-txt">Watch video</span></span>
            </div>
            <div class="social-icons">
              <ul>
               <li><fa name="facebook" class="fb" animation=""></fa></li>
               <li><fa name="instagram" animation=""></fa></li>
               <li><fa name="google-plus" animation=""></fa></li>
               <li> <fa name="twitter" animation=""></fa></li>
             </ul>
           </div>
         </div>
       </div>
     </div>
   </div>
   <div class="col-md-7 col-sm-6 col-xs-12 image-col" style="height: 100vh;">
    <carousel>
      <slide>
        <img src="../assets/images/Tourism.jpg" alt="first slide" class="tour-img" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
          <!--   <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
          </div>
        </slide>
        <slide>
          <img src="../assets/images/Tourism.jpg" alt="second slide"  class="tour-img" style="display: block;width: 100%;">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </slide>
        <slide>
          <img src="../assets/images/Tourism.jpg" class="tour-img" alt="third slide" style="display: block;  width: 100%;">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </slide>
      </carousel>
    </div>
  </div>
</div>
</div>